@model QuoteMyGoods.Models.Product

<div class="col-md-4">
    <div class="thumbnail">
        <a asp-action="Details" asp-route-id="@Model.Id"><img src="@Model.ImgUrl" /></a>
        <div class="caption">
            <h3>@Html.DisplayFor(modelItem => Model.Name)</h3>
            <h4 class="text-muted">@Html.DisplayFor(modelItem => Model.Category)</h4>
            <p>@Model.Description</p>
            <h3>£@Model.Price</h3>
            @if (User.IsInRole("Administrator"))
            {
                <p>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Update</a>
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" role="button">Delete</a>
                </p>
            }
            <form asp-controller="Basket" asp-action="AddToBasket" asp-route-id="@Model.Id" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="submit" class="btn btn-default" value="Add to basket" />
            </form>
        </div>
    </div>
</div>
